@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
}


.fle {
	display: flex;
}

.logo {
  font-weight: bold;
  color: #333333;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #555555; /* Accent Gray */
  font-weight: 500;
}

/* Main Content */
main {
  background-color: white; 
  padding: 40px 20px;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 3em;
  margin-bottom: 40px;
  color: #333333; /* Dark Gray */
}

/* Form Container */
.form-container {
  background-color: GhostWhite;
  padding: 30px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto 40px;
  border: 1px solid black;
  box-shadow: 10px 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  background-color: #FFFFFF;
  color: #333333;
  border: 1px solid black;
}

textarea {
  border-radius: 15px;
  height: 100px;
  resize: none;
}

button {
  width: 150px;
  padding: 10px 20px;
  background-color: black;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  font-size: 1em;
  cursor: pointer;
  margin: 0 auto;
}

/* Contact Info */
.contact-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  flex-direction: column;
}

.info-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 150px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-direction: row;
  color: #333333;
  border: 1px solid black;
  box-shadow: 10px 10px;
}

.info-box:hover {
	cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
	box-shadow: 0 6px 8px slategray;
	border-radius: 10px;
}

/* Map */
.map {
  margin-bottom: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.map iframe {
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 10px;
  box-shadow: 10px 10px;
}

.map iframe:hover {
  cursor: pointer;
	transition: transform 0.2s, box-shadow 0.2s;
	box-shadow: 0 6px 8px slategray;
	border-radius: 10px;
}


/* Footer */
footer {
  background-color: #E0E0E0; /* Light Gray */
  height: 100px;
  text-align: center;
  padding-top: 40px;
  color: #555555; /* Accent Gray */
}


