@charset "UTF-8";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    margin: 20px;
    background-color: #fff;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 98%;
    height: 60px;
    border: 3px solid black;
    cursor: pointer;
    text-decoration: none;     /* removes underline */
  	color: black;              /* or your preferred color */
  	font-weight: bold;
  	z-index: 1000;
}



div a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

nav a {
    margin: 0 1rem;
    font-weight: bold;
    cursor: pointer;
}