@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f7f7f7;
  color: #000;
}

.container {
  display: flex;
  margin-bottom: 0;
}

.main-content {
    width: 100%;
    background: white;
    padding: 40px;
  padding: 20px;
  height: 640px;
}




.profile-card {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
}



.profile-card h3 {
  font-size: 16px;
  margin: 5px 0;
}



.btn {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
}



.bio-section {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 20px;
  margin-top: 90px;
  border-radius: 8px;
  box-shadow: 10px 10px;
}

.bio-section h4 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 40px;
}

.bio-grid {
	padding-left: 20px;
}

.bio-grid div {
  margin: 20px 0;
  display: flex;
  /* Align label and value horizontally */
  align-items: center;
}

.bio-grid strong {
  /* Fixed width for labels so values align vertically */
  width: 150px;  /* Adjust this width as needed */
  margin-right: 10px;
  text-align: left;
}

.orders-note {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  font-weight: bold;
  height: 300px;
}

.orders-note p {
	padding-bottom: 5px;
}


.edit-form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-field label {
    width: 120px;
    font-weight: bold;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    width: 400px;
    border: none;
    
}

.form-field input {
	border-right: 1px solid black;
}

.save-btn {
  margin-top: 20px;
  width: 150px;
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sepe {
	display: flex;
}

.product-reviews {
    background-color: GhostWhite;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
    margin-top: 20px;
  margin-left: 100px;
}
.review {
    margin-bottom: 10px;
}

.butto {
	width: 400px;;
	margin-left: 100px;
}


.footer {
  background: #fff;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}

